/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Popiins', sans-serif;
    box-sizing: border-box;
}

/* Set the background color for the body */
body {
    background-color: #222;
}

/* Styling for the card container */
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b458a);
    color: #fff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
}

/* Styling for the search bar */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling for the search input */
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

/* Styling for the search button */
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* Styling for the search button image */
.search button img {
    width: 16px;
}

/* Styling for the weather icon */
.weather-icon {
    width: 170px;
    margin-top: 30px;
}

/* Styling for temperature */
.weather h1 {
    font-size: 80px;
    font-weight: 540;
}

/* Styling for city name */
.weather h2 {
    font-size: 45px;
    font-weight: 350;
    margin-top: -5px;
}

/* Styling for weather details */
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

/* Styling for columns in weather details */
.col {
    display: flex;
    align-items: center;
    text-align: left;
}

/* Styling for icons in weather details */
.col img {
    width: 40px;
    margin-right: 10px;
}

/* Styling for humidity and wind */
.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

/* Initially hide weather information */
.weather {
    display: none;
}

/* Styling for error message */
.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
}
